.Header {
    width: 100%;
    background-color: #b4ebf1;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: right;
    font-size: 120%;
}

.header-link {
    text-decoration: none;
}

.header-link:hover {
    text-decoration: underline;
}