.NavBar {
    height: 100%;
    align-items: center;
    display: flex;
    background-color:#e1f3f5;
    flex-direction: column;
}

.NavItem {
    display: flex;
    width: 108%;
    height: 40px;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #e1f3f5;
    text-decoration: none;
}

.NavItem:hover {
    background-color: #cbf4f8;
    text-decoration: none;
}

.link {
    margin-top: 15px;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}